                      {$invoice = $scope.invoice}
                      {$start = $invoice.start_date}
                      {$end = $invoice.end_date}
                      {$invoice_fields = ["address.salutation","address.first_name","address.last_name","address.organization","address.title","address.address1","address.address2","address.city","address.state","address.zip","address.country","address.email_address"]}
                      {assign 'contact_fields' ["org_id"]|array_merge:$invoice_fields}
                      {if ($scope.auth_edit)}
                      {$apply_all = 0}
                      {$apply_parent = 0}
                      {if ($invoice.sequence > 0 && $scope.inv_ids)}
                        {$apply_all = 1}
                      {/if}
                      {if ($apply_all || ($invoice.parent_id && $invoice.parent_type))}
                        {$apply_parent = 1}
                      {/if}
                        
                      {if (0)}
                        <!-- old shit -->
                        Missing: Status, Export Timestamp, Invoice Type, Voucher ID, Billed By
                        <div class="panel panel-primary">
                          <div class="panel-heading">Basic</div>
                          <div class="panel-body">
                            {* $invoice|invoice_details:$user.user_level|print_array *}
                            {if (!$invoice.invoice_id)}
                            <br>
                            <a href="#" class="btn btn-success btn-sm ajax-link" 
                             data-load_text = "Setting..."
                             data-reload_link = "#invoice-overview"
                             data-handler = "set-invoice-id"
                             data-data='{["inv_id" => $invoice.id,"user_id" => $user.id]|@json_encode}'
                             ><i class="fa fa-plus"></i> Set Invoice Number</a>
                            {/if}
                          </div>
                        </div>  
                      {/if}
                      
                      <div class="panel panel-primary">
                        <div class="panel-heading">Details
                        &nbsp;
                        <a href="#" class="btn btn-success btn-sm edit-object" 
                           data-obj_type="invoice" 
                           data-obj_id="{$invoice.id}"
                           data-fields='{["invoice_date", "start_date", "end_date", "concerning", "customer_notes"]|@json_encode}'
                           data-reload_link="#invoice-overview" 
                           >Edit</a>
                        </div>
                        <div class="panel-body">
                          <label>{$invoice.status|get:"inv_status":"name"|ucfirst} {$invoice.type|get:"inv_type":"name"|ucfirst} invoice {$invoice.invoice_id} (Voucher ID: {$invoice.id})</label>{if ($invoice.export_timestamp)}, exported {$invoice.export_timestamp|date}{/if}<br>
                          <label>Invoice Date:</label> {$invoice.invoice_date|date}<br>
                          <label>Period:</label> {$invoice.start_date|daterange:$invoice.end_date}<br>
                          <label>Concerning:</label> {$invoice.concerning}
                            {if ($apply_all)}
                            <a class="ajax-link" href="#" id="copy-concerning-{$invoice.id}" 
                              data-toggle="confirmation" 
                              data-load_text = "Applying..."
                              data-data='{["obj_type" => "invoice", "obj_id" => $invoice.id, "target_ids" => $scope.inv_ids, "field" => "concerning"]|@json_encode}'
                              data-handler="objects-copy"
                              rel="tooltip" data-placement="top" title="Are you sure? "><i class="fa fa-copy"></i> Apply to all
                            </a>
                            {/if}                    
                          <br>
                          <label>Customer Notes:</label> {$invoice.customer_notes}
                            {if ($apply_all)}
                            <a class="ajax-link" href="#" id="copy-notes-{$invoice.id}" 
                              data-toggle="confirmation" 
                              data-load_text = "Applying..."
                              data-handler="objects-copy"
                              data-data='{["obj_type" => "invoice", "obj_id" => $invoice.id, "target_ids" => $scope.inv_ids, "field" => "customer_notes"]|@json_encode}'
                              rel="tooltip" data-placement="top" title="Are you sure? "><i class="fa fa-copy"></i> Apply to all
                            </a>
                            {/if}                                                    
                          <br>
                        </div>
                        
                      </div>

                      <div class="panel panel-primary">
                        <div class="panel-heading">Billing
                        &nbsp;
                        <a href="#" class="btn btn-success btn-sm edit-object" 
                           data-obj_type="invoice" 
                           data-obj_id="{$invoice.id}"
                           data-fields='{["site_id", "legal_entity_id", "org_id", "contact_id", "bill_to"]|@json_encode}'
                           data-reload_link="#invoice-overview" 
                           >Edit</a>

                        {if ($apply_parent)}
                        <a class="btn btn-danger btn-sm ajax-link" href="#" id="copy-billing-{$invoice.id}" 
                          data-toggle="confirmation" 
                          data-load_text = "Applying..."
                          data-handler="invoice-billing-copy"
                          data-data='{["inv_id" => $invoice.id,"user_id" => $user.id]|@json_encode}'
                          data-reload_link-off='#invoice-overview'
                          rel="tooltip" data-placement="top" title="Are you sure? "><i class="fa fa-copy"></i> Apply to all
                        </a>
                        {/if}
                           
                        </div>
                        <div class="panel-body">
                          {$sites = "site"|find_all:[]:["field" => "name"]}
                          {$legals = "legal_entity"|find_all:[]:["field" => "name"]}
                          
                          {if ($sites|@count > 1)}
                          <label>Site:</label> {$invoice.site_id|get:"site":"name"}<br>
                          {/if}
                          {if ($legals|@count > 1)}
                          <label>Billed By:</label> {$invoice.legal_entity_id|get:"legal_entity":"name"}<br>
                          {/if}
                          
                          {if ($scope.booking.agent_id)}<label>Agent:</label> {$scope.booking.agent_id|get:"agent":"name"}<br>{/if}
                          <label>Employer of guest:</label> {$invoice.org_id|get:"org":"org_name"}
                          <a href="#" class="add-object" 
                             data-obj_type="org" 
                             data-reload_link="#invoice-overview"
                             ><i class="fa fa-plus"></i> Add Employer </a><br>

                          
                          {if ($invoice.org_id)}
                            {$org_id = $invoice.org_id}
                            {$org = $org_id|get:"org"}
                            
                          <label>Department:</label>
                            {if ($scope.contact)}                              
                              {$contact = $scope.contact}
                              {$contact.organization} {$contact.salutation} {$contact.first_name} {$contact.last_name}
                            {else}
                              [ none ]
                            {/if}
                            
                            {$contactdata = ["org_id" => $org_id, "address1" => $org.address1, "address2" => $org.address2, "city" => $org.city, "state" => $org.state, "zip" => $org.zip, "country" => $org.country, "organization" => $org.organization]}
                            {$handlerdata = ["inv_id" => $invoice.id]}
                                                        
                            <a href="#" class="add-object" 
                               data-obj_type="contact" 
                               data-data='{$contactdata|@json_encode}'
                               data-fields='{$contact_fields|@json_encode}'
                               data-success_handler="add_contact_handler"
                               data-handler_data='{$handlerdata|@json_encode}'
                               data-reload_link="#invoice-overview"
                               ><i class="fa fa-plus"></i> Add Department</a><br>
                           
                            {$contacts = $scope.contacts}
                            {if ($edit_contact)}
                              <select class="form-control">
                              {foreach from=$contacts item=contact}
                                {$contact.organization} {$contact.salutation} {$contact.first_name} {$contact.last_name}<br>
                                {if ($contact.organization)}
                                  {$contact_name = $contact.organization}
                                {else}
                                  {$contact_name = "`$contact.first_name` `$contact.last_name`"}
                                {/if}
                                <option value="{$contact.id}">{$contact_name}</option>
                              {/foreach}
                              </select>
                             {/if} {* if ($edit_contact) *}
                          {/if} {* if ($invoice.org_id) *}
                          <label>Billed To:</label> {$global.billto[$invoice.bill_to]}<br>
                          
                        </div>
                        <div class="panel-footer">
                          <p class="text-warning">
                            <i class="fa fa-warning"></i> Note: Changes made here only affect this invoice, not the associated Booking or other invoices for this booking. 
                            {if ($apply_parent)}<br>To update the booking and all other/future invoices, click <span class='btn-xs btn-danger text-danger'>Apply to all</span> above.{/if}
                          </p>
                        </div>
                      </div>
                                                             
                      <div class="panel panel-primary">
                        <div class="panel-heading">Address
                        {if ($user.user_level >= $smarty.const.USER_LEVEL_STAFF)}
                        {$invoice_fields[] = "address.email_address"}
                        {/if}
                        &nbsp;
                        <a href="#" class="btn btn-success btn-sm edit-object" 
                           data-obj_type="invoice" 
                           data-obj_id="{$invoice.id}"
                           data-fields='{$invoice_fields|@json_encode}'
                           data-reload_link="#invoice-overview" 
                           >Edit</a>                           
                        {if ($apply_parent)}
                        <a class="btn btn-danger btn-sm ajax-link" href="#" id="copy-address-{$invoice.id}" 
                          data-toggle="confirmation" 
                          data-load_text = "Applying..."
                          data-handler="invoice-address-copy"
                          data-data='{["inv_id" => $invoice.id,"user_id" => $user.id]|@json_encode}'
                          data-reload_link-off='#invoice-overview'
                          rel="tooltip" data-placement="top" title="Are you sure? "><i class="fa fa-copy"></i> Apply to all
                        </a>
                        {/if}
                        </div>
                        <div class="panel-body">
                          {$show_contact = $scope.show_contact}
                          {{"include": "_address-details.html"}}
                          <br>
                        </div>
                        <div class="panel-footer">
                          <p class="text-warning">
                            <i class="fa fa-warning"></i> Note: Changes made here only affect this invoice, not the associated Booking, Employer, Department, or Agent.
                            {if ($apply_parent)}<br>To update the booking and all other/future invoices, click <span class='btn-xs btn-danger text-danger'>Apply to all</span> above.{/if}
                            </p>
                        </div>                        
                      </div>  

                      {/if} {* if auth-edit *}

                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          Invoice {$invoice.invoice_id|default:$invoice.id}: {$start|daterange:$end}
                          &nbsp;
                          {if ($scope.auth_edit)}
                            {if ($invoice.locked)}
                            <span class="label label-danger">Locked</span>
                            <a class="btn btn-danger ajax-link" href="#" id="unlock-{$invoice.id}" 
                              data-toggle="confirmation" 
                              data-obj_type="invoice" data-obj_id="{$invoice.id}" data-handler="edit" 
                              data-data='{["obj_type" => "invoice", "id" => $invoice.id, "locked" => 0]|@json_encode}'
                              data-reload_link='#invoice-overview'
                              rel="tooltip" data-placement="top" title="Are you sure? "><i class="fa fa-unlock"></i> Unlock
                            </a>
                            
                            {else}
                            <a href="#" class="btn btn-success edit-invoice bst-edit-link" data-toggle="modal" data-obj_type="inv_lineitem"
                              data-target="#invoice_edit_dialog" data-url="{$scope.data_url}" data-edit_url="{$scope.edit_url}">Edit</a>
                            {/if}
                          {/if}

                          <a href="{$smarty.const.PAGE_INVOICE|link}{$invoice.id}?view=_invoice-print.html{if ($scope.pin)}&amp;pin={$scope.pin}{/if}" 
                             data-target='#invoice_pdf_link' target="invoice" class="btn btn-primary btn-sm click-target"><i class="fa fa-file-pdf-o"> View PDF</i></a>
                        </div>
                        <div class="panel-body">
                          {$invoice|invoice:$scope.auth_edit}
                          <br>
                          {if ($scope.auth_edit)}
                          <!--a href="#" class="btn btn-success btn-sm add-object" 
                           data-obj_type="inv_lineitem" 
                           data-data='{["inv_id" => $invoice.id,"user_id" => $user.id]|@json_encode}'
                           data-fields='{["inv_id", "user_id","type","tax_category","currency", "quantity","amount","description"]|@json_encode}'
                           data-reload_link="#invoice-overview" 
                           ><i class="fa fa-plus"></i> Add Lineitem</a--> 

                          <a href="#" class="btn btn-success btn-sm" 
                             data-toggle="modal" data-target="#lineitem_modal"
                             ><i class="fa fa-plus"></i> Add Lineitem</a>
                           
                          <a href="#" class="btn btn-success btn-sm ajax-link" 
                           data-load_text = "Copying..."
                           data-handler = "add-invoice"
                           data-data='{["inv_id" => $invoice.id,"user_id" => $user.id]|@json_encode}'
                           ><i class="fa fa-plus"></i> New Invoice</a>
 
                           
                         {/if}
                          
                        </div>
                      </div>  
                      

                      {if (1 || $invoice.paid > 0)}
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          Payments
                          <span class="label label-success">Paid: {$invoice.currency|currency}{$invoice.paid}</span>
                        </div>
                        <div class="panel-body">
                          {$invoice|invoice_payments:$scope.auth_level}
                        </div>
                      </div>
                      {/if}
                      
                      {if ($scope.mail_log|@count)}
                        {$mail_log = $scope.mail_log}
                        {{"include": "_mail-log.html"}}
                      {/if}

                      {if ($scope.change_log|@count)}
                        {$change_log = $scope.change_log}
                        {{"include": "_change-log.html"}}
                      {/if}
                                              
                      <div id="lineitem_modal" class="modal fade" tabindex="-1" data-replace="true">
                        <form class="form-horizontal ajax-submit" id="lineitem_form" data-handler="add" data-reload_link="#invoice-overview">
                        <input type="hidden" name="obj_type" value="inv_lineitem">
                        <input type="hidden" name="site_id" value="{$site.id}">
                        <input type="hidden" name="user_id" value="{$user.id}">
                        <input type="hidden" name="inv_id" value="{$invoice.id}">
                        <input type="hidden" name="currency" value="{$invoice.currency}">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <b id="overlay_title">Add Lineitem</b>
                        </div>
                        <div class="modal-body" class="container-fluid">
                          <div class="form-group col-sm-12">
                            <label>Type</label>
                            {"type"|object_select:"lineitem_type":["class" => "form-control", "value" => $scope.currency, "sort" => "name", "search" => ["can_add" => 1]]}
                          </div>
                          <div class="form-group col-sm-4">
                            <label>Tax Category</label>
                            {"tax_category"|object_select:"tax_category":["class" => "form-control", "value" => $scope.currency, "search" => ["active" => 1]]}
                          </div>
                          <div class="form-group col-sm-4">
                            <label>Quantity</label>
                            <input name="quantity" class="form-control" type="text" />
                          </div>
                          <div class="form-group col-sm-4">
                            <label>Amount</label>
                            <input name="amount" class="form-control" type="text" />
                          </div>
                          <div class="form-group col-sm-12">
                            <label>Description</label>
                            <input name="description" class="form-control" maxlength="255"/>      
                          </div>
                          <br>
                          <input type="submit" class="btn btn-primary" value="Save Changes">       
                          <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                        </div>
                        </form>
                      </div>
                      
