
  {{"extend": "index.html"}}
                                      
  {block name=content}

    <div class="container">
      <h2 class="page-title">Test Edit page</h2>
    </div>

    <div class="container">
      <div class="row"><!-- begin test row -->

          <!-- begin test code -->

          <h1>Test page</h1>
          Scope:{$scope|dump}
        </div>
        <div class="row">
          <div class="col-xs-12">
            <span class="btn btn-primary" id="changeDateBtn1">Change end date to 19-08-2015</span>
          </div>
          <div class="col-xs-12">
            <span class="btn btn-danger" id="changeDateBtn2">Remove end date</span>
          </div>
        </div>  
          
      <!-- end test code -->
      
      </div><!-- end container row -->
      <div class="gap"></div>
    </div>

{literal}
<script>
$(function () {
  console.log("Test loaded...");
</script>
{/literal}

{/block}
