  {{"extend": "index.html"}}
                                      
  {block name=content}
     {$invoice = $scope.invoice}
     {$booking = $scope.booking}
     {$rental = $scope.rental}
     {$start = $booking.start_date}
     {$end = $booking.end_date}
     {$in = $booking.checkin}
     {$out = $booking.checkout}

    <div class="container">
      <h1 class="page-title">Invoice {$invoice.invoice_id|default:$invoice.id}</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <aside class="user-profile-sidebar">
            {if ($booking)}
            {$obj_type = $scope.obj_type}            
            {{"include": "_booking-sidebar.html"}}           
            {/if}
            
            {if (1 || $user.id)}
            <nav data-target="#booking-status-container" 
               data-controller="invoice" 
               data-data='{$scope.data|@json_encode}'
               data-success_handler="traveler_ready">
            {{"include": "_invoice-nav.html"}}
            </nav>
            {/if}
          </aside>
          
        </div>
        <div class="col-md-9" id="booking-status-container">
          {{"include": "_invoice-overview.html"}}
          {$tpl = $scope.view|default:'_invoice-overview.html'}
          {if ($tpl) }
          {include file="$tpl"}
          {else}
          No tpl
          {/if}
        </div>
      </div>
    </div>
    <div class="gap"></div>

  {if ($scope.auth_edit)}
  {{"include": "_invoice-edit-dialog.html"}}
  {{"include": "_refund-dialog.html"}}
  {{"include": "_verify-dialog.html"}}
  {/if}

 {/block}
